h1 {
    margin: auto;
    text-align: center;
}

.cat-img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.single-cat-container {
    width: 75vw;
    aspect-ratio: 1/.75;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-quote {
    margin:auto;
    text-align: center;
}

.nice-cat {
    background-color: rgb(214, 235, 255);
}

.mean-cat {
    background-color: rgb(255, 228, 233);
}

.badass-cat {
    background-color: rgb(220, 249, 220);
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

.red-border {
    border-style: solid;
    border-color: red;
}

.green-border {
    border-style: solid;
    border-color: green;
}

.perm-blue-border {
    border-style: solid;
    border-color: blue;
}

.perm-red-border {
    border-style: solid;
    border-color: red;
}

.perm-green-border {
    border-style: solid;
    border-color: green;
}

#button-container {
    margin: auto;
    text-align: center;
}